@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=auto');

.wrapper {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.promo_cards {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    line-height: 22px;
    display: flex;
    flex-direction: column;
}

.promo_card {
    background-color: rgba(21, 77, 44, 0.9);
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 18px;
    padding: 40px;
}

.card_img {
    position: relative;
    width: 30%;
    height: 100%;
    flex-shrink: 0;
}

.card_img>img {
    object-fit: contain;
    transition: 0.2s;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
   .promo_card {
        flex-direction: column;
    }
    
    .card_img {
        width: 100%;
        max-width: 300px;
    }
}

.card_text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card_title {
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.card_prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.card_price {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 45px;
    font-weight: 700;
}

.card_price_full {
    position: relative;
    margin-right: 16px;
    text-decoration: line-through;
}

.card_price_discount {
    padding: 0 15px;
    background-color: #06CAD8;
    border-radius: 10px;
}

.price_color {
    color: #808080;
}

.price_discount_color {
    color: #fff;
}

.mi_color {
    color: #ff6700;
}

.xmas_color {
    color: #06CAD8;
}

.card_credit {
    width: 100%;
    margin-top: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}

.card_credit .card_price {
    display: inline-flex;
}

.card_list {
    margin-bottom: 10px;
    font-size: 20px;
}

.card_list ul {
    list-style: none;
    line-height: 28px;
    padding-left: 0;
}

.card_button {
    align-self: flex-end;
    background-color: #06CAD8;
    margin-top: auto;
    padding: 10px 30px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.2s;
    color:#fff;
}

.card_button:hover {
    background-color: #069da8;
}

@media screen and (max-width: 768px) {
    .promo_card {
        flex-direction: column;
        padding: 40px 5px;
    }

    .card_img {
        width: 100%;
        max-width: 300px;
    }

    .card_title {
        font-size: 26px;
    }

    .card_button {
        align-self: stretch;
    }
}

@media screen and (max-width: 1024px) {
    .promo_card {
        padding: 20px;
    }
}
